<h1>Searching for - <%= @search %></h1>

<table border="1">
 <tr>
  	<th>Image</th>
  	<th>Title</th>
  	<th>socialRank</th>
  </tr>
  <% @recipes["recipes"].each do |recipe| %>

  <tr class=<%= cycle('even', 'odd') %>>
      
      <td><%= link_to(recipe['source_url']) do %> <%= image_tag(recipe['image_url'], height: '100', width: '100') %> <%end %>
       <td><%=  recipe['title'] %></td>
        <td><%=  recipe['social_rank'] %></td>
      
   </tr>
<% end %>
</table>